@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #333;
	font-size: 13px;
	line-height: 150%;
}
/* -------------------- wrapper -------------------- */
#wrapper {
	width: 100%;
	margin: auto;
	padding: 0px;
	border: 0px;
	background-color: #EEFFFF;
	top: 10px;
    position: relative;
}
/* -------------------- header -------------------- */
#header h2 {
	 margin-left: 40px;
	 padding: 0;
}
/* -------------------- footer -------------------- */
#footer {
	clear: both;
	width: 100%;
	padding: 3px 0 3px 0;
	background: #39F;
	color: #FFF;
	font-weight: bold;
	text-align: center;
}
/* -------------------- nav -------------------- */

#nav ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#nav ul li {
	width: 20%;
	text-align: center;
}
#nav ul li a {
	display: block;
	height: 20px;
	margin: 0;
	padding: 10px;
	color: #FFF;
	font-size: 20px;
	text-decoration: none;
	background-color: #339900;
}
#nav ul li a:hover {
	filter: drop-shadow(10px 10px 10px black);
}
/* -------------------- flash -------------------- */
.flash_message {
	font-size: 50px;
	text-align: center;
	background-color: lavenderblush;
	line-height: normal;
	font-family: monospace;
}


/* -------------------- form -------------------- */
form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}
.item {
    display: flex;
    width: 60%;
    height: 160px;
    margin: auto;
    padding: 10px 0 20px 0;
}
.label {
    margin-right: 20px;
    width: 200px;
    font-size: 25px;
}
.inputs {
    width: 500px;
    text-align: center;
    font-size: 25px;
}
input[type="text"] {
    border: solid 1px #aaa;
    border-radius: 5px;
    font-size: 15px;
}
label + input[type="radio"],label + label {
    margin-left: 200px;
}
input[type="radio"] {
    width: 28px;
    height: 28px;
}
textarea {
    border: solid 1px #aaa;
    border-radius:5px;
    height: 150px;
    font-size: 15px;
}
.btn-area {
    text-align: center;
}
input[type="submit"]{
    background: #e0505c;
    border: none;
    color: white;
    font-size:17px;
    font-weight:bold;
    padding: 10px 20px;
    margin: 0 5px;
}