/* -------------------- header -------------------- */
#header {
	width: 100%;
}
#header h2 {
     margin: 3px;
     padding: 3px;
		 text-align: center;
}
/* -------------------- container -------------------- */
#container {
	width: 100%;
	margin: 0px;
	padding: auto;
	padding-top: 5px;
	clear: both;
}
/* -------------------- main -------------------- */
#main {
	width: 60%;
	margin: auto;
}
#self-introduction {
	width: 90%;
}
#mainsub {
	width: 40%;
	margin: auto;
	padding: 0;
	font-weight: bold;
}
#mainsub ul {
	padding-left: 0;
}
#mainsub ul li {
	list-style-type: none;
	margin-bottom: 10px
}
#side {
	width: 85%;
	margin: auto;
}
#side h2 {
	font-size: 13px;
}
#side p {
	font-size: 5px;
}
@media (min-width:480px) {
	#main {
		float: left;
		width: 60%;
		height: auto;
		margin: 0;
	}
	#mainsub {
		float: left;
		width: 40%;
		height: 300px;
	  font-size: 45px;
	}
	#mainsub ul {
		padding-left: 40px;
	}
	#mainsub ul li{
		margin-bottom: 70px;
	    padding-top: 0px;
	}
	#side {
		margin: 0 0 0 30px;	
	}
	#side h2{
		font-size: 45px;
	}
	#side p {
		font-size: 25px;
	}
	#self-introduction {
		margin: 10px 10px 10px 30px;
	}
}
/* -------------------- clearfix -------------------- */

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
